.advantage {
  display: flex;
  flex-direction: column;
  background-color: $white_advantage;
  flex-basis: 100%;
}

.advantage__img {
  background-repeat: no-repeat;
  background-color: #4878a6;
  background-position: center;
  min-height: 260px;
}

.advantage__img--city {
  background-image: $photo-city;
}

.advantage__img--bridge {
  background-image: $photo-bridge;
}

@media (min-width: 768px) {

  .advantage--big {
    height: 260px;
    display: flex;
    flex-direction: row;
  }

  .advantage__img {
    background-size: 100%;
  }
  
  .advantage__small-wrapper {
    display: flex;
    flex-direction: row;
  }

  .advantage--small {
     width: 33%;
     margin: 0;
   }

  .advantage__head--full {
    width: 33%;
  }

  .advantage__img {
    width: 67%;
  }

  .advantage--big:nth-child(2) {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1200px) {

  .advantage__img--city {
    background-image: $photo-city2;
  }

  .advantage__img--bridge {
    background-image: $photo-bridge2;
  }
}

.advantage__head--full {
  color: $white;
  background-color: $blue;
}

.advantage__head {
  text-align: center;
}

.advantage__title {
  padding-top: 30px;
  margin: 0;
  margin-left: $small-margin;
  margin-right: $small-margin;
  font-size: $title;
}

.advantage__number {
  display: block;
  padding-top: 14px;
  padding-bottom: 17px;
  font-size: $text;
}

.advantage__text {
  padding-bottom: 30px;
  margin: 0;
  margin-left: $small-margin;
  margin-right: $small-margin;
  font-size: $text;
  line-height: 21px;
}

.advantage__title--road {
  border-top: $border;
}

.advantage__text--road {
  border-bottom: $border;
}
