.booking {
  width: 100%;
  padding-top: 30px;
  text-align: center;
}

.booking__title {
  padding-left: $small-margin;
  padding-right: $small-margin;
  margin-top: $medium-margin;
  margin-bottom: $small-margin;
  font-size: $big-title;
  line-height: $line-height-big;
}

.booking__text {
  padding-left: $small-margin;
  padding-right: $small-margin;
  margin: 0;
  font-size: $text;
  line-height: 24px;
}

.booking__map img {
  width: 100%;
}
