.feedback-form {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.feedback-form__section {
  width: 88%;
  border-top: $border;
  min-width: 280px;
  max-width: 646px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1202px) {

  .feedback-form__section {
    width: 100%;
    min-width: 646px;
    max-width: 940px;
  }

  .feedback-form__section--effect {
    order: -1;
    width: 50%;
    min-width: 323px;
    max-width: 475px;
  }

  .feedback-form__section--name {
    width: 50%;
    min-width: 323px;
    max-width: 475px;
  }

  .feedback-form {
    display: flex;
    width: 84%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;

  }
}

@media (min-width: 1203px) {

  .feedback-form__section {
    width: 100%;
    min-width: 960px;
    max-width: none;
    background-color: red;
  }

  .feedback-form__section--effect {
    order: -1;
    width: 50%;
    min-width: 460px;
    max-width: none;
  }

  .feedback-form__section--name {
    width: 50%;
    min-width: 460px;
    max-width: none;
  }

  .feedback-form {
    display: flex;
    width: 79%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.feedback-form__line {
  padding-left: 20px;
}

.feedback-form__title {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: $title;
  line-height: $line-height-big;
}

.feedback-form__text-label {
  font-size: $text;
}

.feedback-form__text-label--contacts,
.feedback-form__cell--contacts {
  padding-left: 42px;
}

.feedback-form__cell {
  outline: none;
  border: none;
  font-weight: bold;
  font-size: $title;
  background-color: $white_3;
}

.feedback-form__rb-label,
.feedback-form__ch-label {
  display: block;
}

.feedback-form__rb-title,
.feedback-form__ch-title {
  text-transform: none;
  font-weight: bold;
  font-size: $title;
  line-height: $line-height-big;
}

.feedback-form__cell--textarea {
  width: 95%;
  padding-left: 20px;
}
