.main-photo {
  @include container;
  min-height: 160px;
  background-image: $main-photo;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-color: #4878a6;
}

.main-photo--full {
  min-height: 380px;
}

.main-photo__title,
.main-photo__blockquote {
  font-size: 0;
}

@media (min-width: 768px) and (max-width: 1202px) {

  .main-photo {
    @include container-tablet;
  }
}

@media (min-width: 1203px) {

  .main-photo {
    width: 100%;
    min-width: 1203px;
    max-width: none;
    margin: 0 auto;
  }
}
