.main-logo {
  position: absolute;
  padding: 0;
}

@media (min-width: 768px) and (max-width: 1202px) {

  .main-logo {
    position: static;
  }
}

@media (min-width: 1203px) {

  .main-logo {
    position: static;
  }
}
