@import "variables.scss";


.page-footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: $footer-padding;
}

.page-footer__section {
  padding-bottom: $footer-padding;
  margin-left: 83px;
}

.page-footer__section--hashtag {
  padding-left: 7px;
  font-size: $big-title;
  line-height: $line-height-big;
  font-weight: bold;
}

.page-footer__section--copyright {
  display: block;
  float: left;
  padding-left: 11px;
  font-size: $text;
  line-height: $line-height-big;
  font-weight: normal;
}

.page-footer__copyright-logo {
  display: block;
  float: right;
  margin-left: 11px;
  width: 27px;
  height: 34px;
  font-size: 0;
  background-color: $blue;
}
