.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 50px;
  @include container;
}

@media (min-width: 768px) and (max-width: 1200px) {

  .page-header {
    display: flex;
    flex-direction: column;
    @include container-tablet;
    min-height: 56px;
    padding-bottom: 30px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {

  .page-header {
    display: flex;
    flex-direction: column;
    @include container-desktop;
    min-height: 56px;
    padding-bottom: 30px;
    margin-bottom: 50px;
  }
}
