.page-footer {
  display: flex;
  flex-direction: column;
  @include container;
  padding-top: $footer-padding;
}

@media (min-width: 768px) and (max-width: 1200px) {

  .page-footer {
    @include container-tablet;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 1200px) {

  .page-footer {
    @include container-desktop;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.page-footer__section {
  padding-bottom: $footer-padding;
  margin-left: $small-margin;
  margin-right: $small-margin;
  text-align: center;
}

.page-footer__section--hashtag {
  font-size: $big-title;
  line-height: $line-height-big;
  font-weight: bold;
}

.page-footer__section--copyright {
  font-size: $text;
  line-height: $line-height-big;
  font-weight: normal;
}

.page-footer__copyright-logo {
  width: 27px;
  height: 34px;
  font-size: 0;
  background-color: $blue;
}
