.photo-list-item {

  border-top: $border;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) and (max-width: 1203px) {

  .photo-list-item--small {
    width: 50%;
    margin: 0;
  }

  .photo-list-item--big {
    width: 100%;
    min-width: 650px;
    max-width: 1203px;
    margin: 0 auto;
    }
}

@media (min-width: 1203px) {

  .photo-list-item--small {
    width: 33.33%;
    margin: 0;
  }

  .photo-list-item--big {
    width: 100%;
    margin: 0 auto;
    }
}
