.promo-list {
  margin: 0;
  padding-left: $padding-big;
  padding-top: 35px;
  list-style: none;
  background-color: $white;
}

.promo-list__text {
  margin-top: $small-margin;
  margin-bottom: $medium-margin;
}

@media (min-width: 768px) {

  .promo-list {
    display: flex;
  }

}
