.promo-video__wrapper {
  display: flex;
  flex-direction: column;
  width: 88%;
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
}

.promo-video__preview-img {
  width: 100%;
}

.promo-video__toggles{
  position: relative;
  margin-left: $small-margin;
  margin-right: $small-margin;
  min-height: 70px;
  background-color: $white_3;
}

.promo-video__toggle {
  width: 35px;
  height: 22px;
  font-size: 0;
  background-color: $blue;
}

.promo-video__toggle--replay,
.promo-video__toggle--subtitles,
.promo-video__toggle--fullscreen {
  position: absolute;
}

.promo-video__volume-scale {
  position: absolute;
  width: 100%;
  min-height: 45px;
  top: -50px;
  left: 20px;
  font-size: 0;
  background-color: $darkgrey;
  opacity: 0.6;
}

@media (min-width: 768px) and (max-width: 1200px) {

  .promo-video__wrapper {
    min-width: 650px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {

  .promo-video__wrapper {
    width: 850px;
    margin: 0 auto;
  }
}
