@import "variables.scss";


.social {
  padding-bottom: $footer-padding;
  ul {
    padding-left: 83px;
    margin: 0;
  }
}

.social__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.social__link {
  display: block;
  width: 44px;
  height: 48px;
  font-size: 0;
  background-color: $blue;
}
