$white: #ffffff;
$black: #000000;
$white_advantage: #eeeeee;
$white_3: #f2f2f2;
$body-color: #eeeeee;
$blue: #81b3d2;
$grey: #e5e5e5;
$grey-border: #dbdbdb;
$darkgrey: #666666;
$red: #ff5c5c;
$body-size: 320px;
$photo-size: 280px;
$font-family: "PT Sans", "Arial", sans-serif;;
$title: 18px;
$text: 14px;
$big-title: 21px;
$line-height-medium: 24px;
$line-height-big: 26px;
$black: #000000;
$main-photo: url(../img/bg-back-mobile@1x.jpg);
$main-photo-big: url(../img/back-desktop.svg);
$btn-padding: 16px;
$footer-padding: 40px;
$medium-margin: 30px;
$big-margin: 50px;
$small-margin: 20px;
$padding-big: 70px;
$border: solid 1px $grey-border;


@mixin container {
  width: 100%;
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
}

@mixin container-tablet {
  width: 100%;
  min-width: 768px;
  max-width: 1203px;
  margin: 0 auto;
}

@mixin container-desktop {
  width: 95%;
  min-width: 1203px;
  max-width: none;
  margin: 0 auto;
}
