$white: #ffffff;
$blue: #81b3d2;
$body-size: 320px;
$font-family: "PT Sans", "Arial", sans-serif;;
$title: 18px;
$text: 14px;
$big-title: 21px;
$line-height-big: 26px;
$black: #000000;
$main-photo: url(../img/bg-back-mobile@1x.jpg);
$btn-padding: 16px;
$footer-padding: 40px;
$medium-margin: 30px;
$big-margin: 50px;
$small-margin: 20px;
$padding-big: 70px;
